@import "tailwindcss";
@import "./font.css";

:root {
  --primary: 214, 198, 56;
  --primary-hls: 54, 66%, 53%;
}

body {
  font-family: "Netflix Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  position: relative;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="text"] {
  outline-color: rgb(var(--primary));
}
